@{
    ViewData["Title"] = "Latihan Penggunaan AJAX";
}
<div class="m-5">
    <h1>SWAPI</h1>

    <table class="table table-striped border">
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th style="width: 20%;">Action</th>
            </tr>
        </thead>
        <tbody id="starwar">
            <!-- Modal -->

        </tbody>
    </table>
</div>

<script src="~/js/latihanAJAX.js" asp-append-version="true"></script>
