@{
    ViewData["Title"] = "Latihan Display";
}

<a href="" style="background-color: salmon; display: inline; padding: 50px;">This is default display inline</a>

<h1 style="background-color: yellow;isplay: block; padding: 50px;">This is default display Block</h1>

<a href="" style="background-color: greenyellow; display: inline-block; padding: 30px;">This is inline-block</a>

<p style="background-color: yellow;isplay: block; padding: 50px;">This is default display Block</p>