@{
    ViewData["Title"] = "Latihan";
}
<div>
    <h1 id="judul">Hello World</h1>
    <blockquote>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, autem. Ratione beatae vel a quibusdam autem
        voluptate.
    </blockquote>
</div>
<div id="container">
    <section id="a">
        <p class="pi">paragraf 1</p>
        <a class="turn" href="#dark"></a>
        <a class="reset" href=""></a>
        <p class="pi">paragraf 3</p>
    </section>
    <section id="b">
        <p id="a">paragraf 4</p>
        <ul>
            <li>item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ul>
    </section>
</div>
